<%= form_for(Recipe.new) do |form| %>
  <p><%= form.label("food") %></p>
  <p><%= form.text_field("food") %></p>
  <p><%= form.label("description") %></p>
  <p><%= form.text_area("description") %></p>
  <p><%= form.submit %></p>
<% end %>